<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Age of Empires Defenders</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <font>
    <default_font file="fonts/open_sans/OpenSans-Regular.ttf" size="12"/>
  </font>

  <uimanager>
    <atlas file="uimanager/atlas.png"/>
  </uimanager>
    
  <window>
    <resolution width="1366" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  <input>
<!-- special keys are - escape, space, return(enter), tab, backspace, (arrows) left, right, up, down -->
<buttons move_up="w" move_down="s" move_left="a" move_right="d" build_tower="1" build_bombard_tower="2" build_walls="3" menu="escape" center_to_townhall="Space"/> 

  </input>
</config>